*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::selection{
    color: #fff;
    background-color: #000;
}

html, body{
    width: 100%;
    height: 100%;
}

#page1{
    width: 100%;
    min-height: 100vh;
    position: relative;
    padding: 0 1vw;
    padding-top: 20vh;
}

#page1 h1{
    font-size: 16vw;
    text-transform: uppercase;
    font-family: futura;
    line-height: 13.5vw;
    letter-spacing: -5px;
}

#video-container {
    height: 100vh;
    width: 100%;
    background-color: grey;
    margin-top: 1vw;
    position: relative;
}

#video-container video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#video-container #play {
    padding: 3vw 2.2vw;
    background-color: black;
    color: #fff;
    font-size: 1.3vw;
    position: fixed;
    text-transform: uppercase;
    font-family: futura;
    border-radius: 50%;
    opacity: 0;
    scale: 0;

}

#page2{
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3vw 1vw;
}

#page2 .elem{
    height: 100%;
    width: 31%;
    background-color: aqua;
}